<html>
        <head>
            <title>Django en ejemplos</title>
        </head>
        <body>
            <div>
                <h1><a href="#">Blog codemonkey junior</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Los caballos negros alcanzan</a></h2>
                <p>Dicho popular.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Elefantes en cuarentena</a></h2>
                <p>Una historia de otro mundo</p>
            </div>
        </body>
    </html>